    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>사건 / 사고 건물</title>
        <link rel="stylesheet" href="/css/headerStyle.css">
        <link rel="stylesheet" href="/css/side.css">
    </head>
    <body>
    <div class="container">
        <div th:each="board : ${boards}" class="post-item">
            <div class="date"
                 th:text="${board.occurredDate != null ? #temporals.format(board.occurredDate, 'yyyy년 MM월 dd일') : '날짜 없음'}">
                2025년 03월 20일
            </div>
            <div class="title">
                <a th:href="@{/boards/content/{id}(id=${board.id})}" th:text="${board.title}">제목</a>
            </div>
            <div class="created"
                 th:text="${board.createdDate != null ? #temporals.format(board.createdDate, 'yyyy.MM.dd') : '미기록'}">
                2025.06.09
            </div>
        </div>

        <div class="pagination">
            <a th:if="${!boardPage.first}" th:href="@{/boards(page=0)}">«</a>
            <a th:if="${startPage >= 10}" th:href="@{/boards(page=${startPage - 10})}">&lt;</a>

            <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${i != currentPage}" th:href="@{/boards(page=${i})}" th:text="${i + 1}"></a>
            <span th:if="${i == currentPage}" th:text="${i + 1}" class="current"></span>
        </span>

            <a th:if="${endPage + 1 < boardPage.totalPages}" th:href="@{/boards(page=${startPage + 10})}">&gt;</a>
            <a th:if="${!boardPage.last}" th:href="@{/boards(page=${boardPage.totalPages - 1})}">»</a>
        </div>
    </div>
    <script src="/js/load-header.js"></script>
    <script src="/js/side.js"></script>
    </body>
    </html>