<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intelligent House</title>
    <link rel="stylesheet" href="/css/side.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="/js/side.js" defer></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6e233d74bf94ac6bba7c8506e320cfa7&libraries=services"></script><body>
<div id="map" style="width:100vw;height:100vh;"></div>
<div id="guide1" style="width:100vw;height:100vh;display.none"></div>
<div id="guide2" style="width:100vw;height:100vh;display.none"></div>
<footer>
    <input type="text" placeholder="검색어를 입력하세요" id="addressInput">
    <button type="button" id="searchButton">확인</button>
</footer>

<script src="/js/app.js"></script>
<script src="/js/load-header.js"></script>
<script src="/js/geolocation.js"></script>
<script src="/js/marker.js"></script>
<script src="/js/search.js"></script>
<script src="/js/click-coord.js"></script>
<script src="/js/footer.js" defer></script>
</body>
</html>